ion-content {
  display: flex;
  flex-direction: column;
}

.full-calendar-container {
  flex: 1;
  display: flex;
}

.full-calendar-container {
  width: 100% !important;
  display: flex;
  flex-direction: column;
}

.fc {
  width: 100% !important;
}

.fc-view-harness {
  width: 100% !important;
}



// .full-calendar-container .fc {
//     transform: rotate(-90deg); /* Ruota il calendario di -90 gradi */
//     transform-origin: top left; /* Punto di origine della rotazione */
//     position: absolute;
//     top: 100%;
//     left: 0;
//     width: 100vh; /* Imposta la larghezza del calendario */
//     height: 100vw; /* Imposta l'altezza del calendario */
//   }
  

//   .fc-col-header { non si può modificare perchè poi c'è uno style 53px;
//     width: 800px !important;
//   }
/* Forza la larghezza dei giorni */

/* Forziamo la larghezza delle colonne */
// .fc-timegrid-col {
//     min-width: 120px !important;
//     max-width: 120px !important;
//   }
  
  /* Regoliamo la larghezza delle colonne della tabella */
//   .fc-scrollgrid-sync-table col {
//     width: 300px !important;
//   }
//   .fc-timegrid-slot {
//     height: 50px !important; /* Imposta l'altezza delle celle delle ore */
//   }
  
//   .fc-timegrid-event {
//     font-size: 14px; /* Regola la dimensione del testo degli eventi */
//     padding: 5px;
//     white-space: nowrap; /* Impedisce che il testo degli eventi vada a capo */
//   }
  
//   .fc-timegrid-event-inner {
//     padding: 2px 5px; /* Aggiusta il padding interno degli eventi */
//   }

.icon-green {
  color: green;
}

.icon-red {
  color: red;
}
  

.greyfont {
  color: grey;
}

ion-item-divider {
  --background: #2c9ac281;
  --color: #fff;

  // --padding-top: 10px;
  // --padding-bottom: 10px;
  // --padding-start: 20px;
  // --padding-end: 20px;
}

.or-spacer {
  // margin-top:100px; margin-left:100px; width:400px; 
  // position:relative; 
  
  .mask { 
    overflow:hidden; height:20px; 
    &:after { 
      content:''; 
      display:block; margin:-25px auto 0;
      width:100%; height:25px;  
      border-radius:125px / 12px;  
      box-shadow:0 0 8px black;
    }
  }
}

ion-tab[tab="appello"] {
  display: block;
  visibility: visible;
}



//per le card delle lezioni programma svolto


.no-margin {
  margin: 7px 10px !important; // Sovrascrive eventuali margini di default
}


ion-card {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1) !important;
}


.header-container {
  display: flex;
  justify-content: flex-start; /* Allinea tutto a sinistra */
  align-items: center;
  padding: 8px 16px;
  width: 100%;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 8px; /* Distanza tra icona e nome */
  width: 100%;
}

.title-text {
  flex-grow: 1; /* Assicura che il testo si estenda senza centrare */
  text-align: left; /* Allinea il testo a sinistra */
  font-size: 16px;
  font-weight: bold;
}

.icon {
  font-size: 20px;
}
