ion-card-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px; // Distanza dal testo per evitare sovrapposizioni
  }
  
  .foto-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ddd; // Bordo intorno alla foto
    background-color: #fff; // Sfondo in caso di errore di caricamento
  }
  
  .foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  


  .no-margin {
    margin: 7px 10px !important; // Sovrascrive eventuali margini di default
  }
  

  ion-item {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1) !important;
  }

  
  .header-container {
    display: flex;
    justify-content: flex-start; /* Allinea tutto a sinistra */
    align-items: center;
    padding: 8px 16px;
    width: 100%;
  }
  
  .title-container {
    display: flex;
    align-items: center;
    gap: 8px; /* Distanza tra icona e nome */
    width: 100%;
  }
  
  .title-text {
    flex-grow: 1; /* Assicura che il testo si estenda senza centrare */
    text-align: left; /* Allinea il testo a sinistra */
    font-size: 16px;
    font-weight: bold;
  }
  
  .icon {
    font-size: 20px;
  }
  
  