ion-card-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px; // Distanza dal testo per evitare sovrapposizioni
  }
  
  .foto-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ddd; // Bordo intorno alla foto
    background-color: #fff; // Sfondo in caso di errore di caricamento
  }
  
  .foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  


  .no-margin {
    margin: 7px 10px !important; // Sovrascrive eventuali margini di default
  }
  

  ion-card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  
  ion-card-header {
    padding-right: 20px !important;
    padding-left: 20px !important;
    display: flex;
    justify-content: center;
  }

  