



.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;      /* Centra orizzontalmente */
  text-align: center;
}

.welcome-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.welcome-container h1 {
  font-size: 36px;
  font-weight: bold;
  color: #000;
  margin: 0;
}
.bacheca-container {
  margin-top: 56px;
  text-align: center;
}


.bacheca-container {
  margin-top: 56px;
  text-align: center;
}

.bacheca-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.bacheca-item {
  border-radius: 10px;
  position: relative;
  width: calc(100% - 10px); /* Ora occupa il 100% della larghezza disponibile */
  height: 100px; /* Mostra solo la parte superiore dell'immagine */
  overflow: hidden; /* Nasconde il resto dell'immagine */
  margin: auto;
  cursor: pointer;
  transition: height 0.3s ease-in-out;
}

.bacheca-img {
  width: 100%; /* Occupa tutta la larghezza */
  height: auto; /* Mantiene le proporzioni */
}

.bacheca-item.expanded {
  height: 600px; /* Espande l'area visibile */
}

.bacheca-description {
  display: none;
  padding: 10px;
  font-size: 14px;
  color: #666;
}

.bacheca-item.expanded .bacheca-description {
  display: block;
}


.contatti-scuola {
  margin-top: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.contatti-scuola ul {
  list-style-type: none;
  padding-left: 0;
}

.contatti-scuola li {
  margin-bottom: 5px;
}


.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px; /* Spazio tra il nome e l'icona */
}

.message-icon {
  position: absolute; 
  font-size: 35px;
  right: 15px; 
  color: red; /* Cambia il colore se necessario */
  cursor: pointer;
  transform: rotate(10deg); /* Inclinazione di 10 gradi a destra */
}

